@model IEnumerable<TMS.Models.User>

@{
    ViewData["Title"] = "Korisnici";
}

<h1>Lista korisnika</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj korisnika</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Korisničko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.Ime</td>
                <td>@user.Prezime</td>
            </tr>
        }
    </tbody>
</table>
