@model IEnumerable<TMS.Models.Notification>

@{
    ViewData["Title"] = "My Notifications";
}

<h1>My Notifications</h1>

@if (!Model.Any())
{
    <p>You have no notifications.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notification in Model)
            {
                <tr>
                    <td>@notification.NotificationDate </td>
                    <td>@notification.Message</td>
                    <td>@(notification.status == TMS.Models.Enums.NotificationStatus.READ ? "Read" : "Unread")</td>
                </tr>
            }
        </tbody>
    </table>
}
